Adafruit-Blinka==8.66.0
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-busdevice==5.2.13
adafruit-circuitpython-connectionmanager==3.1.5
adafruit-circuitpython-mlx90640==1.3.6
adafruit-circuitpython-register==1.10.4
adafruit-circuitpython-requests==4.1.13
adafruit-circuitpython-typing==1.12.2
Adafruit-PlatformDetect==3.83.1
Adafruit-PureIO==1.1.11
ArducamDepthCamera==0.1.21
attrs==25.3.0
av==15.1.0
binho-host-adapter==0.1.6
blobconverter==1.4.3
certifi==2025.8.3
charset-normalizer==2.0.12
contourpy==1.3.3
cycler==0.12.1
Deprecated==1.2.18
depthai==2.24.0.0
depthai-sdk==1.9.4
depthai-viewer==0.2.9
distinctipy==1.3.4
ffmpy3==0.2.4
fonttools==4.59.2
idna==3.10
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
keyboard==0.13.5
kiwisolver==1.4.9
lgpio==0.2.2.0
libarchive-c==5.3
lz4==4.4.4
marshmallow==3.17.0
matplotlib==3.10.6
mcap==1.3.0
mcap-ros1-support==0.0.8
numpy==2.3.2
opencv-contrib-python==4.5.5.62
opencv-python==4.11.0.86
packaging==25.0
picamera2==0.3.31
pidng==4.0.9
piexif==1.1.3
pillow==11.3.0
pyarrow==16.0.0
pyftdi==0.57.1
pyparsing==3.2.4
pyserial==3.5
python-dateutil==2.9.0.post0
python-prctl==1.8.1
pytube==15.0.0
PyTurboJPEG==1.6.4
pyusb==1.2.1
PyYAML==6.0.2
Qt.py==1.4.7
referencing==0.36.2
requests==2.26.0
rosbags==0.9.11
rpds-py==0.27.1
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.12
scipy==1.16.1
sentry-sdk==1.14.0
simplejpeg==1.8.2
six==1.17.0
sysv_ipc==1.1.0
tqdm==4.67.1
types-PySide2==5.15.2.1.7
typing_extensions==4.15.0
urllib3==1.26.20
videodev2==0.0.4
wrapt==1.17.3
xmltodict==0.15.0
zstandard==0.24.0
